/*field notes
class selector- full stop (".")
ID selector- hash character ("#").

*/
@font-face {
	font-family: Paintstrokes;
	src: url('Paintstrokes.otf');

}
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

html, body {
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
}

.container-fluid {
	background-color: white;
	/*background-image: url("../websiteImages/gold_leaf.jpg");*/
}
.galleryImage {
	padding-top: 30px;
}
.galleryTitle {
	margin-top: 30px;
	text-align: center;
}
.img-responsive {
	box-shadow: -6px 7px 35px black;
	border-radius: 3px;
}

h1 {
	font-family: 'Paintstrokes', sans-serif;
	text-align: center;
	font-weight: 500;
	font-size: 50px;
	background: url(gold_leaf.jpg) no-repeat;
	background-size: 100%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
h4{
	text-align: center;
	font-size: 16px;

}
h5 {
	font-size: 10px;
}
.description p {
	padding-top: 20px;
	text-align: center;
	font-size: 16px;
}
#map {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 400px;
	box-shadow: -6px 7px 35px black;
	border-radius: 3px;
 }

/*Coming Soon Styling*/
.heroOpenPage {
	background-image: url("alec_backpack.JPG");
	/*Centering and scaling the background image*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; 
	height: 100%; 
	width: 100%
}
.hero-text {
	/*Positioning hero text*/
	text-align: center;
	font-family: 'Paintstrokes', Arial, sans-serif;
	text-shadow: -2px 3px 14px black;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFBC42;
}
.hero-text h2 {
	font-size: 78px;
}

 /*footer css--------------*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

 .footer-left:hover {
 	color:#FFBC42;

 }
.fa {
	color:#FFBC42;

}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

